@import '../../components/GlobalStyles/mixins.scss';
@import '../../components/GlobalStyles/valiables.scss';

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: $scroll-thumb-bg;
  }
}

.playlist_item {
  width: 100%;
}
.hideplaylist {
  display: none;
  @include responsive($breakpoint: $breakpoint-xl) {
    display: block;
  }
}

.section_1 {
  width: 100%;

  h3 {
    @include text-style($size: 2rem, $weight: 700);
    margin-bottom: 20px;
  }
  .section_1_content {
    width: 100%;
    @include flex($jutify: flex-start);
  }
}

.section_1_content1 {
  width: 31%;
  height: 104px;
  background-color: $box-hot-item-bg;
  border-radius: 5px;
  @include flex($jutify: space-between);
  &:hover {
    background-color: $alpha-bg;
  }
  &:hover .song-thumb-active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #333333a1;
    @include flex();
    font-size: 18px;
    cursor: pointer;

    & svg:hover {
      opacity: 0.8;
    }
  }
  &:hover button {
    opacity: 1;
  }
  &:hover .duration {
    display: none;
  }
  &:hover .btn_option {
    display: block;
    margin-right: 8px;
  }
}

.left {
  width: 50%;
  @include flex($jutify: flex-start, $gap: 10px);

  & .music_icon {
    @include text-style($size: 1.2rem, $color: hsla(0, 0%, 100%, 0.5), $weight: 700);
  }
  & .song-thumb {
    width: 84px;
    height: 84px;
    position: relative;
    & img {
      border-radius: 4px;
      width: 100%;
      height: 100%;
    }
  }
  .song-thumb-active {
    display: none;
  }
}
.isActive {
  background-color: $alpha-bg;

  & .song-thumb-active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #333333a1;
    @include flex();
    font-size: 18px;
    cursor: pointer;

    & svg:hover {
      opacity: 0.8;
    }
  }
}
.card-info span {
  height: 18.2px;
  max-width: 100%;
  line-height: 1.3;
  @include text-style($size: 1.4rem, $color: $text-primary, $weight: 500);
}
.card-info h3 {
  height: 16px;
  line-height: 1.33;
  @include text-style($size: 1.2rem, $color: $text-secondary, $weight: 400);
}

.right {
  margin-left: auto;
  @include flex($gap: 5px);

  button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    opacity: 0;
    font-size: 16px;
    @include flex();
    &:hover {
      background-color: $alpha-bg;
      filter: brightness(0.9);
    }
  }

  .dfnone {
    display: none;
  }
  .heart_purple {
    opacity: 1;
    color: $purple-primary;
  }
}
