@import '../../../../components/GlobalStyles/mixins.scss';
@import '../../../../components/GlobalStyles/valiables.scss';

.wrapper {
  width: 100%;
  @include flex($direction: column);
  padding: 0 40px;
}

.title {
  align-items: center;
  margin-bottom: 24px;
  @include text-style($size: 1.2rem, $color: $text-secondary, $weight: 700);
  letter-spacing: 1.71px;
}

.content {
  width: 100%;
  display: grid;
  @include responsive($breakpoint: $breakpoint-xl) {
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11%;
    row-gap: 20%;
  }
  grid-template-columns: 22% 22% 22% 22%;
  gap: 1.8%;
  row-gap: 5%;
}
