@import '../../components//GlobalStyles//mixins.scss';
@import '../../components//GlobalStyles//valiables.scss';

.wrapper {
  margin: 50px 20vw;
  border: 3px solid $purple-primary;
  padding: 40px;
  border-radius: 20px;
  @include flex();
}

.form {
  width: 100%;
  margin: 0 auto;
  @include flex($direction: column);
  .icon-gg {
    margin-left: 40px;
    padding-bottom: 50px;
    @include flex($direction: column);
    svg {
      width: 90px;
      height: 90px;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
    span {
      text-align: center;
    }
  }
  .inner {
    width: 100%;
  }
  .content {
    width: 100%;
    @include flex($direction: column);
  }

  & h1 {
    @include text-style($size: 2.4rem, $color: $purple-primary, $weight: 700);
    margin-bottom: 25px;
  }

  & label,
  & input {
    display: block;
    width: 100%;
  }

  & div {
    @include flex($gap: 10px);
  }

  & input {
    display: block;
    padding: 0.8rem;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    margin-top: 1rem;
    margin-bottom: 1.1rem;
    border: 1px solid lightgrey;
  }

  & input {
    color: #333;
  }

  & .error-container {
    border: 1px dashed lightgray;
    padding: 1rem;
    width: 100%;
  }
  & li {
    list-style-type: none;
    list-style-position: inside;
    color: lightcoral;
  }
  & button {
    background-color: $purple-primary;
    border: none;
    border-radius: 5px;
    @include text-style($size: 1.4rem, $color: $text-primary, $weight: 600);
    width: 100%;
    height: 44px;
    margin-top: 20px;
    &:hover {
      opacity: 0.9;
    }
  }
  & span {
    margin-left: auto;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
