$text-primary: #fff;
$progressbar-active-bg: #fff;
$text-item-hover: #fff;
$layout-bg: #170f23;
$layout-header-bg: hsla(0, 0%, 100%, 0.8);
$sticky-header-box-shadow: rgba(0, 0, 0, 0.08);
$purple-primary: #9b4de0;
$link-text-hover: #c273ed;
$alpha-bg: hsla(0, 0%, 100%, 0.1);
$primary-bg: #34224f;
$search-text: #eee;
$text-secondary: hsla(0, 0%, 100%, 0.5);
$border-primary: hsla(0, 0%, 100%, 0.1);
$progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
$color-hover-item: #ffffff1a;
$scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
$border-player: hsla(0, 0%, 100%, 0.1);
$queue-player-popup-bg: #120822;
$box-shadow-queue:
  0 1px 0 rgba(0, 0, 0, 0.3),
  0 1px 6px rgba(0, 0, 0, 0.3),
  inset 0 1px 1px rgba(25, 255, 255, 0.05);
$text-placeholder: #dadada;
$navigation-text: #dadada;
$tab-active-bg: hsla(0, 0%, 100%, 0.3);
$plus-package: #8e4cff;
$premium-package: #dca519;
$song-item-action: hsla(0, 0%, 100%, 0.5);
$portal-menu-box-shadow: rgba(0, 0, 0, 0.2);
$yellow: #f8e71c;
$black: #32323d;
$border-secondary: hsla(0, 0%, 100%, 0.05);
$chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
$chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
$sidebar-bg: hsla(0, 0%, 100%, 0.05);
$sidebar-popup-bg: #2a213a;
$box-hot-item-bg: #feffff0d;

$padding-section: 59px;

$img-logo-mp3: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);

$breakpoint-sm: '320px';
$breakpoint-md: '768px';
$breakpoint-lg: '960px';
$breakpoint-l: '1133px';
$breakpoint-xl: '1200px';
$breakpoint-xxl: '1350px';
