@import '../../../../components/GlobalStyles/mixins.scss';
@import '../../../../components/GlobalStyles/valiables.scss';

.wrapper {
  padding-bottom: 30px;
  width: 100%;
}

.btn {
  @include flex();
  button {
    margin-top: 20px;
    border-radius: 999px;
    border: 1px solid $text-item-hover;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: $text-item-hover;
    background-color: transparent;
    padding: 8px 25px;

    &:hover {
      background-color: $alpha-bg;
    }
  }
}
