@import '../../components/GlobalStyles/mixins.scss';
@import '../../components/GlobalStyles/valiables.scss';

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 $padding-section;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: $scroll-thumb-bg;
  }
}
.header {
  width: 100%;
  margin-bottom: 32px;
  padding-top: 40px;
  @include flex($jutify: flex-start, $gap: 14px);
  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
  svg {
    font-size: 36px;
    margin-bottom: 2px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}
