@import '../../../../../components/GlobalStyles/mixins.scss';
@import '../../../../../components/GlobalStyles/valiables.scss';

.wrapper {
  width: 100%;
  @include flex($direction: column);

  .img {
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border-bottom-right-radius: 10%;

    img {
      width: 99%;
      transition: transform 0.4s linear;
      border-radius: 50%;
      border-bottom-right-radius: 30%;
    }
    &:hover > .img_hover {
      opacity: 1;
    }
    &:hover img {
      filter: brightness(55%);
      transform: scale(1.07);
    }
  }
  h3 {
    margin-top: 12px;
    @include text-style($size: 1.6rem, $color: $text-primary, $weight: 600);
  }
  span {
    @include text-style($size: 1.2rem, $color: $text-secondary, $weight: 400);
  }
}
.hideitem {
  display: none;
  @include responsive($breakpoint: $breakpoint-xl) {
    display: block;
  }
}

.img_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  @include flex($jutify: space-evenly);
  font-size: 20px;
  opacity: 0;

  & .btn_play {
    font-size: 45px;
    &:hover {
      opacity: 0.9;
    }
  }
}
