@import '../../../../components/GlobalStyles/mixins.scss';
@import '../../../../components/GlobalStyles/valiables.scss';

.wrapper {
  width: 100%;
  margin-top: 48px;
}

.title {
  width: 100%;
  @include flex($jutify: space-between);
  margin-bottom: 20px;
  @include text-style($size: 2rem, $color: $text-primary, $weight: 700);

  span {
    @include text-style($size: 1.2rem, $color: $text-secondary, $weight: 500);
    svg {
      margin-left: 2px;
      font-size: 16px;
    }
    &:hover {
      color: $purple-primary;
      cursor: pointer;
    }
  }
}

.container {
  width: 100%;
  min-width: 767px;
  display: grid;
  @include responsive($breakpoint: $breakpoint-xl) {
    grid-template-columns: 18.6% 18.6% 18.6% 18.6% 18.6%;
    gap: 1.75%;
  }
  grid-template-columns: 23.6% 23.6% 23.6% 23.6%;
  gap: 1.75%;
}

.content {
  width: 100%;
  min-width: 142.1px;

  .img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;

    img {
      cursor: pointer;
      width: 100%;
      transition: transform 0.4s linear;
    }
    &:hover img {
      transform: scale(1.07);
    }
  }

  h3 {
    margin-top: 8px;
    width: 100%;
    @include text-style($size: 1.5rem, $color: $text-primary, $weight: 600);
    &:hover {
      cursor: pointer;
      color: $purple-primary;
    }
  }
}

.hideplaylist {
  display: none;
  @include responsive($breakpoint: $breakpoint-xl) {
    display: block;
  }
}
