@import '../../../../../components/GlobalStyles/mixins.scss';
@import '../../../../../components/GlobalStyles/valiables.scss';

.form {
  width: 100%;
  @include flex($direction: column);

  .div {
    @include flex($gap: 10px);
    width: 100%;
  }

  input {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid $border-primary;
    padding: 10px 15px;
    font-size: 12px;

    &:focus {
      outline: 1px solid $purple-primary;
    }
  }

  .option {
    width: 100%;
    height: 64px;
    padding: 20px 15px 0;
    @include flex($jutify: space-between);
    .title {
      @include text-style($size: 1.4rem, $color: $text-primary, $weight: 400);
      margin-bottom: 5px;
    }
    .subtitle {
      font-size: 12px;
      color: $text-secondary;
    }
  }

  .button {
    @include flex($jutify: flex-end, $gap: 10px);
    width: 100%;
  }
  .btn {
    background-color: $purple-primary;
    border-color: $purple-primary;
    font-size: 14px;
    padding: 7px 24px;
    border-radius: 999px;

    &:hover {
      opacity: 0.8;
    }
  }
  .btnClose {
    background-color: $alpha-bg;
    border: 1px solid $border-primary;
    cursor: pointer;
  }
  .no-select {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      opacity: 0.4;
    }
  }
  option {
    background-color: $primary-bg;
  }
}
