@import '../../../../../components/GlobalStyles/mixins.scss';
@import '../../../../../components/GlobalStyles/valiables.scss';

.option {
  width: 100%;
  height: calc(100% - 70px - 192px - 33px - 54px);
  overflow: auto;
  margin-top: 16px;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: $scroll-thumb-bg;
  }
}

.vip-banner-sidebar {
  display: none;
  @include responsive($breakpoint: $breakpoint-l) {
    height: 109px;
    margin: 16px 15px 16px 20px;
    padding: 16px 10px;
    background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
    text-align: center;
    border-radius: 8px;
    @include flex($direction: column);

    & .text {
      font-size: 12px;
      margin-bottom: 10px;
      font-weight: 600;
      border-color: #ffdb00;
      line-height: 1.67;
      color: white;
    }
    & button,
    & a {
      background-color: #ffdb00;
      border-color: #ffdb00;
      color: black;
      display: inline-block;
      padding: 6px 16px;
      font-size: 12px;
      font-weight: 700;
      border-radius: 999px;
      text-decoration: none;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.menu-playlist {
  display: none;
  @include responsive($breakpoint: $breakpoint-l) {
    display: flex;
    flex-direction: column;
  }
  @include text-style($size: 1.4rem, $color: #dadada);
  list-style-type: none;
  margin: 0 21px 10px 24px;
  padding-top: 18px;
  border-top: 1px solid $alpha-bg;
}

.mb16 {
  margin-bottom: 16px;
}

.noactive,
.isActive,
.item {
  width: 100%;
  height: 48px;
  @include responsive($breakpoint: $breakpoint-l) {
    padding: 12px 21px 12px 0;
  }
  line-height: 20px;
  text-decoration: none;
  @include text-style($size: 1.4rem, $color: #dadada, $weight: 500);
  @include flex($jutify: flex-start, $gap: 12px);

  &:hover {
    color: $text-item-hover;
  }
}

.item {
  padding-left: 23px;
}
.noactive {
  padding-left: 23px;
}

.isActive {
  color: #fff;
  background-color: $color-hover-item;

  &::before {
    content: '';
    display: block;
    width: 2px;
    height: 48px;
    margin-right: 9px;
    background-color: $purple-primary;
  }
}

.title {
  display: none;
  @include responsive($breakpoint: $breakpoint-l) {
    display: flex;
  }
}

.playicon {
  margin-left: auto;
  font-size: 18px;
  display: none;

  &:hover {
    opacity: 0.9;
  }
}

@include responsive($breakpoint: $breakpoint-l) {
  .item:hover > .playicon,
  .isActive:hover > .playicon,
  .noactive:hover > .playicon {
    display: inline-block;
  }
}

// .is-mark {
//   -webkit-mask-image: linear-gradient(
//     180deg,
//     hsla(0, 0%, 100%, 0),
//     hsla(0, 0%, 100%, 0.8) 10%,
//     #fff 25%,
//     #fff
//   );
// }
