@import '../../../../../components/GlobalStyles/mixins.scss';
@import '../../../../../components/GlobalStyles/valiables.scss';

.noti-menu {
  line-height: normal;
  padding: 6px;
  width: 350px;
  color: #dadada;
  background-color: $primary-bg;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 101;
  max-height: 500px;
  overflow: auto;

  h1 {
    padding: 10px;
    @include text-style($size: 2.4rem, $weight: 700);
  }
  h3 {
    padding: 10px;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }
  &:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: $scroll-thumb-bg;
  }
}

.item_noti {
  padding: 15px 10px;
  border-radius: 5px;
  @include flex($direction: column);
  &:hover {
    background-color: $alpha-bg;
  }
  .time {
    margin-left: auto;
    font-style: italic;
    font-size: 12px;
  }
}
